<?php
//3d party libraries
$this->inlineScript()
        ->prependFile($this->basePath('/js/client/vendor/angular-ui-router.js'))
        ->prependFile($this->basePath('/js/client/vendor/angular-toastr.tpls.js'))
        ->prependFile($this->basePath('/js/client/vendor/angular-toastr.js'))
        ->prependFile($this->basePath('/js/client/vendor/angular-sanitize.js'))
        ->prependFile($this->basePath('/js/client/vendor/angular-resource.js'))
        ->prependFile($this->basePath('/js/client/vendor/angular-mocks.js'))
        ->prependFile($this->basePath('/js/client/vendor/angular-messages.js'))
        ->prependFile($this->basePath('/js/client/vendor/angular-animate.js'))
        ->prependFile($this->basePath('/js/bower_components/satellizer/satellizer.min.js'))
        ->prependFile($this->basePath('/js/bower_components/angular/angular.min.js'));
?>
<?php 
$this->inlineScript()
        ->appendFile($this->basePath('/js/client/app.js'))
        ->appendFile($this->basePath('/js/client/directives/passwordStrength.js'))
        ->appendFile($this->basePath('/js/client/directives/passwordMatch.js'))
        ->appendFile($this->basePath('/js/client/controllers/home.js'))
        ->appendFile($this->basePath('/js/client/controllers/login.js'))
        ->appendFile($this->basePath('/js/client/controllers/signup.js'))
        ->appendFile($this->basePath('/js/client/controllers/logout.js'))
        ->appendFile($this->basePath('/js/client/controllers/profile.js'))
        ->appendFile($this->basePath('/js/client/controllers/navbar.js'))
        ->appendFile($this->basePath('/js/client/services/account.js'))
        ;
?>
<div ng-controller="NavbarCtrl" class="navbar navbar-default navbar-static-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="/"><i class="ion-ios7-pulse-strong"></i> Satellizer</a>
  </div>
  <ul class="nav navbar-nav">
    <li><a href="/#/">Home</a></li>
    <li ng-if="isAuthenticated()"><a href="/#/profile">Profile</a></li>
  </ul>
  <ul ng-if="!isAuthenticated()" class="nav navbar-nav pull-right">
    <li><a href="/#/login">Login</a></li>
    <li><a href="/#/signup">Sign up</a></li>
  </ul>
  <ul ng-if="isAuthenticated()" class="nav navbar-nav pull-right">
    <li><a href="/#/logout">Logout</a></li>
  </ul>
</div>

<div ui-view></div>
<div class="hero-unit">
    <p align="center"><img src="/img/ag-hero.png" alt="Apigility logo"></p>
</div>
<div class="row">
    <div class="span8">
        <p><br /><br />In order to use the <strong>Apigility Admin UI</strong> you need to enable the <strong>development</strong> mode. Currently your application is running in <strong>production</strong> mode.</p>
        <p>To enable the development mode you can execute the following command from the terminal:</p>
        <p><pre>php public/index.php development enable</pre></p>
        <p>Remember to set always the production mode if you want to deploy your API in a staging/production environment.</p>
    </div>
</div>
